h1 {
  font-family: 'Roboto Slab', serif;
  margin: 30px auto;
}

.prod-header {
  text-align: center;
  margin-bottom: 30px;
}

.search-btn {
  background-color: gray;
}

.sort-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.select-sort-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sort-element {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
  border: none;
  border-radius: 20px;
}

.add-btn {
  grid-area: add;
  width: fit-content;
  margin-bottom: 10px;
  background-color: #70A288;
}

.search-div {
  grid-area: search;
  justify-self: start;
}

/* .search-input {
  background-color: white;
} */

/* .mat-form-field-flex.ng-tns-c69-1 {
    background-color: white;

} */

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

::ng-deep .mat-form-field-flex.ng-tns-c69-2 {
  background-color: white;
}

.select-div {
  justify-self: center;
  margin-right: 20px;
}

.sort-div {
  margin-right: 10px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
    padding: 30px;
    max-width: 300px;
    margin: 20px;
    display: grid;
    justify-items: center;
    text-align: center;
  }

  .prod-img {
    max-height: 200px;
    width: auto;
    border-radius: 5px;
    border: none;
    /* box-shadow: lightgray 3px 3px 10px; */
  }

  .card-btn {
    width: 80px;
    margin: 10px;
  }


  
