<div>
  <div>
    <h1>
      High quality outdoor and adventure gear for you and your canine companion
    </h1>
    <button [routerLink]="['/add']">Add New Product</button>
  </div>

  <div *ngFor="let product of productList" class="product-card">
    <img src="{{ product.imageUrl }}" alt="{{ product.itemName }}" />
    <p>
      {{ product.itemName }} | <span>${{ product.price }}</span>
    </p>
    <button [routerLink]="['/products', product.id]">View</button>
    <button [routerLink]="['/edit', product.id]">Edit</button>
    <button (click)="onItemDelete(product.id)">Delete</button>
  </div>
</div>
