<div class="div-wrapper">
  <div class="about-wrapper">
    <div>
      <img class="about-img" src="../../../assets/kendall-koda.jpg" alt="About Photo" />
  
    </div>
    <div class="about-info">
      <h1>About K&K Adventure Gear</h1>
      <mat-divider></mat-divider><br>

      <p>
        Doggo ipsum super chub h*ck woofer lotsa pats such treat, very taste wow
        much ruin diet what a nice floof. Wow very biscit ruff most angery pupper
        I have ever seen very jealous pupper borkdrive long water shoob very
        jealous pupper, big ol pupperino fluffer you are doing me a frighten.
        Thicc boofers clouds vvv, lotsa pats. Doing me a frighten what a nice
        floof snoot long bois shoob, blep bork. Boofers borkdrive waggy wags
        heckin good boys many pats heck, borking doggo lotsa pats doing me a
        frighten shoober, pupper most angery pupper I have ever seen adorable
        doggo length boy. Bork smol much ruin diet borking doggo pats, boofers wow
        such tempt. Aqua doggo many pats puggo aqua doggo, doge wow such tempt.
      </p>
    </div>
  </div>
  
</div>
