<div class="div-wrapper">
  <div class="prod-wrapper">
    <div>
      <img class="prod-img" src="{{ viewProduct.imageUrl }}" alt="{{ viewProduct.itemName }}" />

    </div>

    <div class="prod-details">
      <h1>{{ viewProduct.itemName }}</h1>
      <mat-divider></mat-divider>
      <br>
      <p> <b>Price:</b> {{ viewProduct.price | currency: "USD" }}</p>
      <!-- <p *ngIf="viewProduct.inStock">Item is in stock</p> -->
      <p class="stock-alert" *ngIf="!viewProduct.inStock">
        Out of stock!</p>
      <p>
        <b>Current inventory: </b> <span>{{ viewProduct.inventoryCount }}</span>
      </p>
      <p ><b>Durability Rating:</b> {{ viewProduct.itemDurability }}</p>
      <mat-divider></mat-divider><br>
      <p>{{ viewProduct.description }}</p>

      <div class="prod-btns">
        <button class="back-btn" mat-raised-button [routerLink]="['/products']">Back</button>
        <button class="edit-btn" mat-raised-button [routerLink]="['/edit', viewProduct.id]">Edit</button>
        <button class="delete-btn" mat-raised-button (click)="onItemDelete(viewProduct.id)">Delete</button>
      </div>
    </div>

  </div>

</div>