<div>
  <img src="{{ viewProduct.imageUrl }}" alt="{{ viewProduct.itemName }}" />
  <h1>{{ viewProduct.itemName }}</h1>
  <p>Price: ${{ viewProduct.price }}</p>
  <p *ngIf="viewProduct.inStock">Item is in stock</p>
  <p *ngIf="!viewProduct.inStock">Item is out of stock!</p>
  <p>
    Current inventory: <span>{{ viewProduct.inventoryCount }}</span>
  </p>
  <p>Durability Rating: {{ viewProduct.itemDurability }}</p>
  <p>{{ viewProduct.description }}</p>
  <div>
    <button [routerLink]="['/products']">Back</button>
    <button [routerLink]="['/edit', viewProduct.id]">Edit</button>
  </div>
</div>
