<div>
  <h1>Edit {{editProduct.itemName}}</h1>
  <form #form="ngForm" (ngSubmit)="onEditSubmit()">
    <div>
      <label>Product Name</label>
      <input type="text" name="name" [(ngModel)]="editProduct.itemName" />
    </div>

    <div>
      <label>Description</label>
      <textarea
        type="text"
        name="description"
        cols="30"
        rows="10"
        [(ngModel)]="editProduct.description"
      ></textarea>
    </div>

    <div>
      <label>Price</label>
      <input type="number" name="price" [(ngModel)]="editProduct.price" />
    </div>

    <div>
      <label>Image URL</label>
      <input type="text" name="image" [(ngModel)]="editProduct.imageUrl" />
    </div>

    <div>
      <label>Item Durability</label>
      <select
        name="durability"
        id="durability"
        [(ngModel)]="editProduct.itemDurability"
      >
        <option *ngFor="let opt of editOptions" value="{{opt}}" >{{opt}}</option>
        <!-- <option  value="Medium" name="Medium" >Medium</option>
        <option value="Tough" name="Tough" >Tough</option> -->
      </select>
    </div>

    <div>
      <label>Inventory</label>
      <button type="button" (click)="increaseInventoryCount()">+</button>
      <p name="inventory" [(ngModel)]="editProduct.inventoryCount">
        {{ editProduct.inventoryCount }}
      </p>
      <button type="button" (click)="decreaseInventoryCount()">-</button>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
