/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Roboto Slab', serif;
  
}

html,
body {
  height: 100%;
  font-family: 'Roboto Slab', serif;
  
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}


.div-wrapper {
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: #cadad2;
  width: 80%;

}

.edit-btn {
  color: #2c75a9;
}

.back-btn,
.view-btn {
  color: gray;
}

.submit-btn {
  color: #70a288;
}

.delete-btn {
  color: #ab3428;
}

.stock-alert {
  background-color: rgb(226, 129, 129);
  border-radius: 4px;
  border: none;
  text-align: center;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
}
