<div class="div-wrapper">
  <h1>Create New Store Product</h1>
  <form #form="ngForm" (ngSubmit)="onCreateSubmit()">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Product Name</mat-label>
      <input type="text" name="name" [(ngModel)]="newProduct.itemName" matInput>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Item Description</mat-label>
      <textarea matInput type="text" name="description" 
      rows="5" [(ngModel)]="newProduct.description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Price</mat-label>
      <input type="number" name="price" step="0.01" [(ngModel)]="newProduct.price" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Image URL</mat-label>
      <input type="text" name="image" [(ngModel)]="newProduct.imageUrl" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Item Durability</mat-label>
      <mat-select name="durability" id="durability" [(ngModel)]="newProduct.itemDurability">
        <mat-option *ngFor="let opt of createOptions" value="{{opt}}">{{opt}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="inv-div">
      <p appearance="outline">

        <b>Current Inventory:</b>  <span class="inv-display" name="inventory" [(ngModel)]="newProduct.inventoryCount">
          {{ newProduct.inventoryCount }}
        </span>
        <br>

        <button type="button" class="inv-btn" mat-mini-fab color="warn" (click)="decreaseInventoryCount()">
          <mat-icon>arrow_downward</mat-icon>
        </button>

        <button type="button" class="inv-btn" mat-mini-fab color="warn" (click)="increaseInventoryCount()">
          <mat-icon>arrow_upward</mat-icon>
        </button>

      </p>
    </div>
<br>
    <div class="create-btns">
      <button class="back-btn" mat-raised-button [routerLink]="['/products']">Back</button>
      <button class="submit-btn" mat-raised-button type="submit">Submit</button>
    </div>
  </form>

</div>